# Dependencies
node_modules
npm-debug.log

# Python files
*.py
venv
__pycache__
*.pyc
.env

# Git and version control
.git
.github
.gitignore

# IDE and editor files
.vscode
.idea
*.swp
*.swo

# Logs
logs
*.log

# Docker files (not needed in the image)
Dockerfile
docker-compose.yml
.dockerignore

# Other
README.md
LICENSE 